.header {
    display: flex;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 20px;
    font-weight: 600;
}